{% load render_bundle from webpack_loader %}
{% load compress static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Awesome Score</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext'
              rel='stylesheet' type='text/css' />
        {% compress css %}
            <link type="text/less" href="{% static "ascore_app/css/base.less" %}" rel="stylesheet">
        {% endcompress css %}
        {% render_bundle 'aeditor' 'css' %}
        {% if not ascore_settings.COMPRESS_ENABLED %}
            <script type="text/javascript" src="{% static "ascore_app/js/less.js" %}"></script>
        {% endif %}
        <script type="text/javascript" src="{% static "ascore_app/js/jquery-1.11.0.min.js" %}"></script>
        <script>
            window.addEventListener('codesuccess', function() {
                $congratsBlock = $("#congrats-block");
                $congratsBlock.show();
                $("#email-block").show();
                $('html, body').animate({
                    scrollTop: $congratsBlock.offset().top
                }, 2000);
            })
        </script>
    </head>
    <body>
        <div id="idea-block">
            <div class="web">
                <div class="text">
                    Lepsza przyszłość napisana jest kodem.<br/>
                    <span>Programujesz?</span>
                </div>
            </div>
        </div>
        <div id="laptop-block">
            <div id="laptop-background">
                <div id="aeditor-root"></div>
            </div>
        <div>
        <div id="congrats-block" style="display: none;">
            <span class="text1">To dopiero początek!</span><br/>
            <span class="text2">
                Wcale nie musisz rezygnować z pensji,<br/>
                żeby zmieniać świat na co dzień.
            </span>
        </div>
        <div id="email-block" style="display: none;">
            <div class="email-text">
                Napisz wiadomość na
                <a href="mailto:future@isivi.pl?Subject=Rewolucja%20z%20isivi" target="_top">
                    future@isivi.pl
                </a><br/>
                lub po prostu zostaw swój e-mail, a my odezwiemy się do Ciebie!
            </div>
            <form action="{% url 'send_email' %}" method="post">
                {% csrf_token %}
                {{ form.email }}
                <button type="submit">PRZEŚLIJ</button>
            </form>
            <div class="email-text">
                Dzięki! Wkrótce dowiesz się o co chodzi.
            </div>
            <div class="isivi-logo"></div>
        </div>
        <div id="footer">
            <div id="footer-wrapper">
                <div class="copy">
                    &copy; ISIVI 2016
                </div>
            </div>
        </div>
        {% render_bundle 'aeditor' 'js' %}
    </body>
</html>
