{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Awesome Score</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
        <link type="text/less" href="{% static "ascore_app/css/base.less" %}" rel="stylesheet">
        <script type="text/javascript" src="{% static "ascore_app/js/less.js" %}"></script>
    </head>
    <body>
        <div id="idea-block">
            <div class="web">
                <div class="text">
                    Lepsza przyszłość napisana jest kodem.
                    <span>Programujesz?</span>
                </div>
            </div>
        </div>
        <div id="laptop-block">
            <div id="laptop-background">
                <div id="aeditor-root"></div>
                {% render_bundle 'aeditor' %}
            </div>
        <div>
        <div id="congrats-block">
            <span class="text1">Gratulacje!</span><br/>
            <span class="text2">
                Prawdziwej rewolucji możemy dokonać wspólnie.<br/>
                Zmieniaj z nami na lepsze rynek pracy i przy tym zarabiaj.
            </span>
        </div>
        <div id="email-block">
            <form>
                <input type="text" placeholder="Wpisz adres email..."></input>
                <button>PRZEŚLIJ</button>
            </form>
            <div class="email-text">
                lub napisz wiadomość na
                <a href="mailto:rewolucja@isivi.pl?Subject=Rewolucja%20z%20isivi" target="_top">rewolucja@isivi.pl</a>
            </div>
            <div class="isivi-logo"></div>
        </div>
        <div id="footer">
            <div id="footer-wrapper">
                <div class="copy">
                    &copy; ISIVI 2016
                </div>
                <div class="contact">
                    <div class="email-icon"></div><div class="email">rewolucja@isivi.pl</div>
                </div>
            </div>
        </div>
    </body>
</html>
