@white: #ffffff;
@green: #20a28e;
@gray: #333d4e;
@background-gray: #efeeee;
@border-gray: #b3b2b2;
@orange: #ff3333;


html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Open Sans;
    color: @gray;

    #idea-block {
        font-size: 50px;
        font-weight: 300;
        width: 100%;
        height: 85%;
        background-color: @background-gray;
        text-align: center;

        div.web {
            background: url('../img/pajeczynki-02.png') no-repeat center center;
            height: 100%;
            position: relative;
            text-align: center;

            div.text {
                width: 890px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                span {
                    color: @green;
                    font-weight: 400;
                }
            }
        }
    }

    #laptop-block {
        margin-top: 50px;

        #laptop-background {
            background: url('../img/laptop_fin-03.png') no-repeat center center;
            width: 1076px;
            height: 637px;
            margin: auto;

            #aeditor-root {
                width: 700px;
                padding: 62px 0 0 186px;

                .CodeMirror {
                    height: 388px;
                }

                .Message-component {
                    margin: 10px 0 0 0;
                    border-radius: 2px;
                    font-size: 12px;
                    padding: 8px;
                    width: 572px;

                    &.error {
                        color: @white;
                        background-color: @orange;
                    }

                    &.success {
                        color: @white;
                        background-color: @green;
                    }

                    .relative-container {
                        span.close {
                            margin-top: 9px;
                            width: 8px;
                            height: 8px;
                            background: url('../img/krzyzyk-03.png') no-repeat center center;
                        }
                    }
                }

                button {
                    display: inline-block;
                    font-size: 12px;
                    height: 33px;
                    width: 100px;
                    margin-top: 10px;
                    text-transform: uppercase;
                    cursor: pointer;
                    background-color: @green;
                    color: @white;
                    border: none;
                    border-radius: 2px;

                    &:hover {
                        background-color: rgba(32, 162, 142, 0.9)
                    }
                }
            }
        }
    }

    #congrats-block {
        padding-top: 20px;
        margin: 77px 0 0 0;
        text-align: center;

        div.text1 {
            font-size: 44px;
            font-weight: 400;
        }

        div.text2 {
            margin-top: 20px;
            font-size: 34px;
            font-weight: 300;
        }
    }

    #email-block {
        text-align: center;

        div.email-text {
            margin-top: 130px;

            .text1 {
                font-size: 27px;
                font-weight: 400;

                a {
                    color: @green;
                }
            }

            .text2 {
                margin-top: 10px;
                font-weight: 400px;
                font-size: 17px;
            }
        }

        form {
            margin-top: 25px;

            input {
                border: 1px solid @border-gray;
                border-radius: 3px;
                height: 30px;
                width: 230px;
                padding: 0 15px;
                font-size: 13px;
                font-weight: 300;
            }

            button {
                display: inline-block;
                margin-left: 7px;
                font-size: 11px;
                height: 32px;
                padding: 0 20px;
                cursor: pointer;
                color: @white;
                background-color: @green;
                border: none;
                border-radius: 3px;
                position: relative;
                top: -1px;

                &:hover {
                    background-color: rgba(32, 162, 142, 0.9)
                }
            }
        }
    }

    #isivi-logo {
        width: 150px;
        height: 107px;
        margin: 170px auto 0 auto;
        background: url('../img/isivi_symbol_150px.png') no-repeat center center;
    }

    #footer {
        background-color: @gray;
        margin-top: 120px;
        height: 80px;
        position: relative;

        #footer-wrapper {
            position: absolute;
            color: @white;
            width: 970px;
            padding: 0 15px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            div.copy {
                display: inline-block;
                float: left;
            }
        }
    }
}
